*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    margin-top: 1rem;
    
}
.li-1{
    margin: 25px;
    list-style: none;
    color: #fff;
    font-weight: 500;
    transition: 300ms;
}

.i-1{
    padding: 20px;
    font-size: 20px;
    color: #fff;
    transition: 300ms;
}
.icons{
    position: relative;
}

li:hover{
    color: #ff4136;
    cursor: pointer;
    
}

i:hover{
    color: #ff4136;
    cursor: pointer;
}

.icons span{
    color: white !important;
    position: absolute; 
    background-color: #ff4136;
    text-align: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    top: 10px;
    right: 0;                       
}


.navbar-fixed-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: .3s ease-in-out 0s normal none 1 running fadeInDown;
    background: rgba(64,64,64,.7) none repeat scroll 0 0;
    box-shadow: 0 0 15px #0000001a;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.Search{
    height: 0px;
    margin: 0 auto;
}
.inputSearch{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}
